.commonFontColor{
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color:#fbf7f5;
}

.movie-sprite {
  display: inline-block;
  border-radius: 10px;
  border-color: orange;
  border-width: 3px;
  border-style: groove;
  padding: 5px;
  width: 185px;
  text-align: center;
  height: 280px;
}

.movie-sprite:hover {
}

.movie-sprite > span {
}

.movie-sprite > img {
  margin: auto;
}

.navigationBarButton {
  display: inline-block;
  text-decoration: none;
  border-radius: 5px;
  border-style: none;
  height: 30px;
  width: 110px;
  text-align: center;
  line-height: 30px;
  margin-left: 5px;
  font-size: 1em;
  font-weight: 500;
  background-color: #1a1a1a;
  cursor:pointer;
  transition: border-color 0.25s;
  color: #fbf7f5;
  font-family: system-ui, Helvetica, Arial, sans-serif;
}

.headerContainer{
  position: relative;
  top:0px;
  left: 5px;
  background-color: red;
  border-radius: 5px;
  height: 40px;
  width: 100%;
  justify-content: space-between;
  display: flex;
  align-items: center;
}


:root{
  background-color: #0B132B;
}

.spinner{
    border: 3px solid #f3f3f3;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-top: 3px solid #3498db;
    animation: spin 2s linear infinite;
    position: absolute;
    left: 50%;
    bottom: 50%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}