.movie-slider-main-container{
    position:relative;
    display: block;
    width: 97vw;
    height: 340px;
}

.movie-slider-main-container > h2{
    position: relative;
    padding-left: 5px;
    padding-top: 10px;
}

.movie-button-sprite-container{
    width: inherit;
    height: inherit;
    display:inline-block;
    position:relative;
}

.movie-button-sprite-container > .navButton{
    position: absolute;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    text-align: center;
    line-height: 20px;
    margin-left: 5px;
    font-size: 1em;
    font-weight: 500;
    background-color: #1a1a1a;
    cursor:pointer;
    color: #fbf7f5;
    font-family: system-ui, Helvetica, Arial, sans-serif;
}

.movie-button-sprite-container > .leftButton{
    inset-block-start: 50%;
}

.movie-button-sprite-container > .rightButton{
    inset-block-start: 50%;
    inset-inline-end: 0%;
}

.movie-sprite-container{
    width: 80vw;
    border-color: black;
    border-width: 5px;
    border-style: double;
    position: absolute;
    left:110px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}



