.loginSignupContainer{
    background-color: #1E253A;
    width: 500px;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    position: relative;
    top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.inputTextContainer {
    display: inline-block;
    width: 140px;
    text-align:left;
}

.newUserSignupText{
    text-decoration: none;
    color: orangered;
}