.ticketTypeText {
    width: 150px;
    text-align: center;
    font-family: system-ui, Helvetica, Arial, sans-serif;
    height: 30px;
    font-size: 1em;
    font-weight: 500;
    background-color: #1a1a1a;
    cursor: pointer;
    color: #fbf7f5;
    border-radius: 5px;
    margin-bottom: 5px;
}

.userTicketContainer {
    position: relative;
    /* background-color: #1E253A; */
    background-color: rgba(18, 5, 105, 0.274);
    border-radius: 5px;
    width: 500px;
    display: inline-block;
    height: 220px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-style: groove;
    border-color: rgb(136, 154, 236);

}

.userTicketContainer>.userTicketStatusText {
    position: absolute;
    top: 10px;
    left: 15px;

}

.userTicketContainer>.ticketStatusBox {
    position: absolute;
    top: 5px;
    right: 10px;
    background-color: green;
    border-radius: 8px;
    padding: 5px;
}

.userTicketContainer>.ticketHorizontalLine {
    position: absolute;
    top: 30px;
    width: 490px;
    left: 5px;
}

.userTicketContainer>.ticketPrice {
    position: absolute;
    top: 45px;
    left: 15px;
    font-size: 1.8em;
}

.userTicketContainer>.userTicketSeatText {
    position: absolute;
    left: 15px;
    top: 90px;
    font-size: 1.2em;
}

.userTicketContainer>.userTicketSeat {
    position: absolute;
    left: 15px;
    top: 115px;
    font-size: 1.2em;
}

.userTicketContainer>.movieName {
    position: absolute;
    right: 15px;
    top: 90px;
    font-size: 1.2em;
}

.userTicketContainer>.movieLanguage {
    position: absolute;
    right: 15px;
    top: 115px;
    font-size: 1.2em;
}

.userTicketContainer>.movieDateAndTime {
    position: absolute;
    right: 15px;
    top: 140px;
    font-size: 1.2em;
}

.userTicketContainer>.theatreName {
    position: absolute;
    right: 15px;
    top: 165px;
    font-size: 1.2em;
}

.userTicketContainer>.theatreLocation {
    position: absolute;
    right: 15px;
    top: 190px;
    font-size: 1.2em;
}