.showViewsBackButton {
    position: absolute;
    top: 5px;
    left: 5px;
}


.showHeadingsContainer {
    position: absolute;
    top: 30px;
    left: 0px;
    /* background-color: aqua; */
    height: 25px;
}


.showDataHeadings {
    display: inline-block;
    width: 180px;
    height: 25px;
    /* background-color: orange; */
    text-align: center;
    /* border-style: dotted; */
}

.showsContainer {
    position: absolute;
    top: 85px;
}

.theatreShowingSingle {
    width: fit-content;
    height: fit-content;
    background-color: #2d3859;
    align-content: center;
    border-radius: 5px;
}

.theatreShowingSingle>.theatreShowingDataPoint {
    display: inline-block;
    width: 180px;
    /* border-style: dotted; */
    height: 30px;
    text-align: center;
    align-content: center;
    overflow: hidden;
}